.description {
	padding-left: 1.5rem;
	line-height: 1.6;
}

.jobTitle{
	font-size: 24px;
	color: var(--react-light-blue);
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.jobDetails {
	font-size: 16px !important;
	color: var(--slate);
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/** Container CSS **/
.descriptionContainer {
	height: 18rem;
	overflow-y: auto;
	padding-right: 0.1rem;
	scroll-behavior: smooth;
}

/** Custom scrollbar styles **/
.descriptionContainer::-webkit-scrollbar {
	width: 4px;
}

.descriptionContainer::-webkit-scrollbar-thumb {
	background: var(--slate);
	border-radius: 4px;
}

/** List CSS **/
.descriptionList {
	list-style-type: none;
}

.description li {
	list-style: none;
	padding: 1rem 1rem 0 2rem;
	position: relative;
}

.description li::before {
	content: "›";
	color: var(--react-light-blue);
	position: absolute;
	left: 1rem;
}

/** Remove the padding on the left side of the description in mobile view **/
@media screen and (max-width: 600px) {
	.description {
		padding-left: 0;
	}
	.jobTitle{
		padding-top: 1rem;
	}
}