.projects {
	padding: 1rem;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

/** MUI Pagination Overrides **/
.pagination :global(.Mui-selected) {
    color: var(--react-light-blue) !important;
}

.pagination :global(.MuiPaginationItem-root) {
	color: var(--foreground);
}