.card {
    transition: transform 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
}

.card:hover {
    transform: scale(1.05);
}

.card :global(.MuiCardHeader-subheader) {
    color: var(--foreground);
}

.subheader {
    color: var(--slate);
}

.chipContainer {
    padding-left: .5rem
}