/** Overrides for the MUI Tabs CSS **/
.verticalTabs {
    min-width: 312px; /** bare minimum tab width */
    align-items: flex-start;
    text-align: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.verticalTabs :global(.MuiTabs-indicator) {
    background-color: var(--react-light-blue) !important;
}

.tab {
    align-items: flex-start !important;
    justify-content: flex-start;
    color: var(--slate) !important;
    font-weight: normal;
        font-family: Rockwell !important;

}

.tab:global(.Mui-selected) {
    color: var(--react-light-blue) !important;
}