/** Overrides for the MUI Tabs CSS **/
.tabGroup {
	min-width: 312px; /** bare minimum tab width */
	max-width: 320px;
	min-height: 465px;
	align-items: flex-start;
	text-align: left;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.tabGroup :global(.MuiTabs-indicator) {
	background-color: var(--react-light-blue) !important;
}

.tab {
	align-items: flex-start !important;
	justify-content: flex-start;
	color: var(--slate) !important;
	font-weight: normal;
	font-family: Rockwell !important;
}

.tab:global(.Mui-selected) {
	color: var(--react-light-blue) !important;
}

.tab:global(.MuiTabs-scroller).tab:global(.MuiTabs-scroller)::--webkit-scrollbar {
	width: 4px;
}

@media (max-width: 600px) {
	/** Remove the right border while in mobile view **/
	.tabGroup {
		max-width: calc(100vw - 64px);
		border-right: none !important;
	}

	/** Override the scroll buttons while in mobile view **/
	.tabGroup:global(.MuiTabs-scrollButtons) {
		height: 48px;
		color: var(--react-light-blue) !important;
	}
}