.whoami {
    margin: 0 1rem 10rem 1rem;
    padding: 1rem;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; 
}

.heading {
    font-size: 80px;
}

.description {
    font-size: 30px;
    color: var(--slate);
    /* margin-left: -3rem; */
}

.typeWriter {
    color: var(--react-light-blue);
    font-weight: bold;
}