.whoami {
    margin: 10rem 1rem 0 1rem;
    min-height: 50vh;
}

.heading {
    font-size: 5rem;
}

.description {
    font-size: 1.5rem;
    color: var(--slate);
    margin-left: -3rem;
}

.typeWriter {
    color: var(--react-light-blue);
    font-weight: bold;
}