.whoami {
	margin: 0 1rem 10rem 1rem;
	padding: 0 1rem;
	min-height: 50vh;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center; /* Center horizontally */
	justify-content: center; /* Center vertically */
	text-align: center !important; 
	padding: 1rem;
}

.alert {
	margin-bottom: 1rem;
}

.heading {
	font-size: 80px;
}

.description {
	font-size: 30px;
	color: var(--slate);
	text-align: center;
}

.typeWriter {
	color: var(--react-light-blue);
	font-weight: bold;
}

@media screen and (max-width: 600px) {
	.heading {
		font-size: 45px;
	}
	
	.description {
		font-size: 20px;
	}
}